* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 100%;
    border-bottom: 1px solid  rgba(var(--b6a,219,219,219),1);
    background: #FFFFFF;
}

.header-content{
    width: 975px;
    margin-left: auto;
    margin-right: auto;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.search{
    height: 28px;
    width: 215px;
    background-color: #fafafa;
    padding: 3px 10px 3px 26px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    font-size: 14px;
    
}

.header-links a{
display: inline-block;
margin-left: 10px;
}

.avatar{
    border-radius: 50%;
}

.site-container {
    width: 975px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.posts-stories-post{
    width: 614px;
}

.stories{
    width: 614px;
    height: 104px;
    background-color: #fff;
    border-radius: 3px;
    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    border-left: 1px solid rgba(var(--b6a,219,219,219),1);
    border-right: 1px solid rgba(var(--b6a,219,219,219),1);
    margin-bottom: 24px;
    padding: 10px 0px;
   display: flex;

}

.story{
    width: 80px;
    height: 104px;
    text-align: center;
    margin-left: 6px;
}

.stories img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
 
    
}

.stories p{
    font-size: 12px;

    margin-top: 3px;
    margin-bottom: 6px;
    
}

.post{
    border-radius: 3px;
    border-left: 1px solid rgba(var(--b6a,219,219,219),1);
    border-right: 1px solid rgba(var(--b6a,219,219,219),1);
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}
.post-header{
    
    height: 60px;
    border:1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.post-header img{
    border-radius: 50%;
    margin-left: 5px;
}

.post-header-user{
    display: flex;
    align-items: center;
}

.post-header-user span{
    margin-left: 6px;
    font-size: 13px;
    font-weight: bolder;
    
}

.post-menu{
    margin-right: 5px;
}


.post-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-left: 6px;
    margin-right: 6px;

}

.post-actions-icons svg{
    margin-right: 6px;
}

.last-icon{
    display: flex;
    align-items: center;
}

.post-coments-likes{
  display: flex;  
  align-items: center;
  margin-left: 6px;
 
}

.post-coments-likes span{
    margin-left: 6px;
}

.post-coments img{
    border-radius: 50%;
}

.post-coments img p a{
    margin-right: 6px;
}

.coments-likes{
    margin-left: 6px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-coments-span a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
.coments-likes svg{
    height: 12px;
    width: 12px;
}

.coments-likes p a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.post-time{
    color: #999999;
    font-size: 14px;
    margin-left: 6px;
}

.post-input input{
    color: #999999;
    font-size: 15px;
    border: none;
    background: none;

}

.post-search a{
    color: lightblue;
    font-weight: bolder;
    text-decoration: none;
}

.post-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin: 4px 0px 0px;
    padding: 0px 16px;
    border-top:1px solid rgba(var(--b6a,219,219,219),1);
    
}