.header{
    width: 100%;
    border-bottom: 1px solid black;
}

.header-content{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.input{
    height: 28px;
    width: 215px;
    background-color: #fafafa;
    padding: 3px 10px 3px 26px;
}